# File: requirements.txt
# Deskripsi: Dependencies untuk EasyOCR application

# --- Framework Web & Server ---
Flask
gunicorn
python-dotenv
Flask-Cors
requests

# --- Pemrosesan Gambar & PDF ---
opencv-python-headless
Pillow
pdf2image
numpy

# --- OCR Engine ---
easyocr

# --- Pemrosesan Teks & Utilitas ---
pyspellchecker
thefuzz[speedup]
