# File: requirements.txt
# Deskripsi: Versi optimasi. 'easyocr' dihapus karena akan diinstal manual di Dockerfile.

# --- Framework Web & Server ---
Flask
gunicorn
python-dotenv
Flask-Cors

# --- Pemrosesan Gambar & PDF ---
opencv-python-headless
Pillow
pdf2image
numpy

# --- Pemrosesan Teks & Utilitas ---
pyspellchecker
thefuzz[speedup]